@use './../../../styles/breakpoints.scss' as breakpoints;

.sectionTitle {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;

  &.border {
    border-top: 1px solid #ccad004d;
    padding-top: 2rem;
    margin-top: 2.5rem;
  }

  .title {
    font-size: 16px;
    color: #333;
    font-weight: 700;
  }

  &.inRightRail .title,
  &.inRightRail svg {
    font-size: 18px;
  }
}
