// import styled from 'styled-components'
// import { device } from '../../../styles/devices'

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @include breakpoint(tablet) {
    justify-content: flex - start;
  }

  p {
    color: #333;
    font-size: 0.9rem;
    margin-top: 3px;
    color: #888;
  }
}
