.sortToggleContainer {
  position: absolute;
  bottom: -57px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.sortToggle {
  cursor: pointer;
  position: relative;

  .selected {
    font-size: 14px;
    font-weight: 600;
    background-color: #2f4f3a;
    padding: 5px 30px;
    color: #dadada;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    font-weight: 300;
    border: 1px solid #7e7e7e;
    cursor: pointer;
    gap: 8px;
    display: flex;
    align-items: center;
  }

  .direction {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
  }

  .dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    background-color: #bcbcbc;
    border-radius: 3px;
    opacity: 0;
    box-sizing: border-box;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    z-index: 10;
    box-shadow: -2px 4px 10px 0px rgb(143, 142, 147);

    &.visible {
      opacity: 1;
      pointer-events: all;
    }

    ul {
      margin: 0;
      padding: 10px 0;
      list-style: none;
      border-radius: 5px;

      li {
        padding: 5px 20px;
        font-weight: 500;
        width: max-content;
        margin: 0;
        width: 100%;
        font-size: 15px;
        color: #333;

        &:hover {
          background-color: #999;
          cursor: pointer;
        }
      }
    }
  }
}
