@import './../../../styles/breakpoints.scss';

.SaintSingle {
  width: 100%;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .hero {
    width: 100vw;
    gap: 30px;
    position: relative;

    .heroContent {
      margin: 0 auto;
      max-width: 1450px;
      width: 90%;
      display: flex;
      margin-top: 30px;
      gap: 40px;

      .heroText {
        margin-top: 150px;
      }
    }
  }

  .content {
    display: flex;
    margin: 0 auto;
    max-width: 1450px;
    width: 90%;
    gap: 30px;

    .leftRail {
      width: 300px;
      min-width: 300px;
      display: none;

      @include breakpoint(laptop) {
        display: block;
      }
    }

    .main {
      @include breakpoint(tablet) {
        width: calc(100% - 300px);
      }
      @include breakpoint(laptop) {
        width: calc(100% - 300px);
      }

      .bentoSection {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
        flex-wrap: wrap;
      }
    }
  }
}

.SaintBio {
  width: 90%;
  max-width: 1450px;
  padding: 30px 0 50px 0;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    gap: 100px;
    width: 100%;

    .main {
      margin-top: 150px;
      max-width: calc(100% - 300px);

      @include breakpoint(laptop) {
        max-width: calc(100% - 500px);
      }

      .text {
        margin-top: 20px;

        h3 {
          margin: 30px 0 10px 0;
        }

        p {
          font-size: 15px;
          line-height: 1.5;
          margin-bottom: 0.5rem;
        }

        img {
          float: left;
          margin-right: 30px;
        }
      }
    }

    .rightRail {
      width: 200px;
      margin-top: 200px;
      display: none;

      @include breakpoint(laptop) {
        display: block;
      }
    }
  }
}
