@import './../../../styles/breakpoints.scss';

.footer {
  background-color: #343434;
  height: 100px;
  color: #fff;
  width: 100%;
  display: flex;

  @include breakpoint(laptop) {
    height: 100px;
    margin-top: 150px;
  }

  .content {
    width: 90%;
    max-width: 1450px;
    margin: 20px auto;
    display: flex;
    align-items: flex-end;

    @include breakpoint(tablet) {
      align-items: center;
    }

    .left {
      justify-content: flex-start;
      flex-direction: column;
      gap: 15px;

      @include breakpoint(tablet) {
        flex-direction: row;
      }
    }

    .center {
      justify-content: center;
    }

    .right {
      justify-content: flex-end;
    }

    .row {
      display: flex;
      flex: 1;
    }

    a {
      color: #fff;
      text-decoration: none;
      margin: 0 20px;
      font-size: 14px;
      transition: all 0.1s ease-in-out;
      font-weight: 700;

      @include breakpoint(tablet) {
        margin: 0 20px;
      }

      &:hover {
        color: #999;
      }
    }
  }
}
