@use 'sass:color';
@use './../../../styles/breakpoints.scss' as breakpoints;

.bentoSection {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 50px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 30px 25px;
  border-radius: 10px;

  @include breakpoints.breakpoint(tablet) {
    width: 100%;
    margin-left: unset;
    margin-bottom: 30px;
    padding-left: 30px;
  }

  @include breakpoints.breakpoint(laptop) {
    padding: 40px 50px;
  }

  .header {
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    padding-right: 30px;
    display: none;

    @include breakpoints.breakpoint(laptopM) {
      display: flex;
      width: 33%;
      max-width: 300px;
    }

    .chapters {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.7rem;
      width: 100%;
      font-size: 0;
      position: relative;
      z-index: 3;
      margin-top: 40px;

      .chapter {
        color: #999;
        font-size: 15px;
        line-height: 1.5;
        font-weight: 400;
        width: fit-content;
        text-wrap: pretty;

        &:first-child {
          color: #222;
          border-bottom: 1px solid var(--gold);
        }

        &:last-child {
          border: none;
        }
      }
    }
  }

  .image {
    position: relative;
    width: 20%;
    height: 300px;
    margin-top: -80px;
    margin-left: 30px;
    float: left;
  }

  .content {
    display: flex;
    gap: 75px;
    max-height: 500px;

    @include breakpoints.breakpoint(tablet) {
      gap: 50px;
    }
  }

  .previewContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 400;
    flex: 1;

    .preview {
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 20;
      -webkit-box-orient: vertical;
      overflow: hidden;
      flex: 1;

      h2 {
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        margin-top: 20px;
        text-decoration: underline;
        margin-bottom: 20px;

        @include breakpoints.breakpoint(tablet) {
          color: var(--violet);
        }

        &:first-child {
          margin-top: 0;
        }
      }

      p:has(img) {
        margin: 0;
      }

      img {
        float: left;
        margin-right: 20px;
        max-width: 200px;
      }

      p,
      ol,
      ul {
        font-size: 16px;
        margin-bottom: 10px;
        color: #fff;

        @include breakpoints.breakpoint(tablet) {
          color: #333;
        }
      }

      strong {
        font-weight: 400;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: -125px;
      left: 0;
      width: 100%;
      z-index: 10;
      height: 125px;
      background: linear-gradient(
        to top,
        #0b072b 10%,
        transparent 100%
      );

      @include breakpoints.breakpoint(tablet) {
        background: linear-gradient(
          to top,
          white 10%,
          transparent 100%
        );
      }
    }
  }

  button {
    background: transparent;
    border-radius: 7px;
    color: #737373;
    font-size: 13px;
    padding: 8px 30px;
    border: 1px solid #dedede;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;

    @include breakpoints.breakpoint(tablet) {
      margin-top: 0;
    }

    &:hover {
      background-color: #3187e3;
      border: 1px solid #3187e3;
      color: #fff;
    }
  }
}
