@import './../../../styles/breakpoints.scss';

$color: #ccad004e;

.hero {
  width: 100vw;
  min-width: 100vw;
  height: min-content;
  padding: 20px 0 50px;
  position: relative;
  margin-bottom: 30px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.5)
      ),
      url('/bg-light.webp');
    background-size: cover; /* This will cover the entire viewport */
    background-repeat: no-repeat; /* Important if the image is smaller than the footer */
    background-position: center 45%; /* This will center the image */
    transform: scaleX(-1);
    z-index: 0;

    @include breakpoint(laptop) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.3)
        ),
        url('/bg-light.webp');
    }
  }

  .contentContainer {
    max-width: 1450px;
    margin: 0 auto;
    width: 90%;
    position: relative;

    h1 {
      color: #521613;
      text-shadow: -2px 0 $color, 0 2px $color, 2px 0 $color,
        0 -2px $color;
      font-size: 1.75rem;
      margin-bottom: 0.75rem;
      display: flex;
      flex-direction: column;
      position: relative;
      min-height: 100px;

      @include breakpoint(tablet) {
        flex-direction: row;
        min-height: unset;
      }

      @include breakpoint(laptop) {
        flex-direction: row;
        font-size: 2.5rem;
      }
    }

    .metaphor {
      text-decoration: underline;

      @include breakpoint(tablet) {
        margin-left: 10px;
      }
    }
  }
}
