@import '../../../styles/breakpoints.scss';

.preset {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  cursor: pointer;
  gap: 20px;
  position: relative;
  border: 2px solid transparent;
  transition: all 0.1s ease-in-out;
  background: linear-gradient(
    90deg,
    rgba(36, 30, 78, 1) 0%,
    rgba(49, 45, 76, 1) 100%
  );
  font-weight: 600;
  font-size: 16px;
  color: rgb(233, 230, 253);
  line-height: 1.1;
  text-transform: capitalize;

  @include breakpoint(tablet) {
    font-size: 18px;
  }

  .count {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    font-size: 13px;
    font-weight: 800;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 230, 253);
    color: var(--violet);
  }

  &:hover {
    border: 2px solid #dadada;

    h3 {
      color: #ffecec;
    }
  }

  &.active {
    border: 2px solid #ffffff;

    h3 {
      color: #ffecec;
    }
  }
}
