@import '../../../styles/breakpoints.scss';

.header {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.1);
  padding: 10px 0;

  @include breakpoint(laptop) {
    padding: 0;
  }

  .content {
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 2;
  }

  .row {
    display: flex;
    align-items: center;

    @include breakpoint(laptop) {
      height: 60px;
    }
  }

  .col {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .left {
    justify-content: flex-start;
  }

  .right {
    justify-content: flex-end;
    display: none;

    @include breakpoint(laptop) {
      display: flex;
    }
  }
}

.navigation {
  gap: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include breakpoint(laptop) {
    justify-content: unset;
    gap: 10px;
    width: unset;
  }

  a {
    color: #000;
    font-size: 16px;
    padding: 4px 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 1;
    width: min-content;
    justify-content: center;

    @include breakpoint(tablet) {
      flex-direction: row;
      width: max-content;
      font-size: 16px;
      gap: 6px;
    }

    .count {
      font-size: 16px;
      font-weight: 700;
      color: var(--gold);
      display: none;

      @include breakpoint(tablet) {
        display: block;
      }
    }

    &:hover {
      color: #999;
    }
  }
}

.header.transparent {
  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.5)
      ),
      url('/bg-light.webp');
    background-size: cover; /* This will cover the entire viewport */
    background-repeat: no-repeat; /* Important if the image is smaller than the footer */
    background-position: center 55%; /* This will center the image */
    transform: scaleX(-1);
    z-index: 0;
  }

  a {
    color: #fff;

    .count {
      color: #fff;
    }
  }
}
