@use './../../../styles/breakpoints.scss' as breakpoints;

.content {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoints.breakpoint(tablet) {
    flex-direction: row;
    gap: 40px;
  }

  @include breakpoints.breakpoint(laptop) {
    gap: 100px;
  }

  .leftRail {
    @include breakpoints.breakpoint(tablet) {
      min-width: 200px;
    }

    @include breakpoints.breakpoint(laptop) {
      min-width: 300px;
    }
  }

  .main {
    margin-top: 25px;

    @include breakpoints.breakpoint(tablet) {
      margin-top: 100px;
    }

    @include breakpoints.breakpoint(laptop) {
      max-width: calc(100% - 500px);
    }
  }

  .rightRail {
    width: 200px;
    margin-top: 150px;
    display: none;

    @include breakpoints.breakpoint(laptop) {
      display: block;
    }
  }
}
