@use './../../../styles/breakpoints.scss' as breakpoints;

.btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 7px;
  padding: 10px 15px;
  border: 1px solid var(--line);
  background: var(--parchment-light);
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
  box-shadow: var(--shadow-md);

  @include breakpoints.breakpoint(tablet) {
    bottom: 100px;
    right: 50px;
    padding: 15px 20px;
    border-radius: 10px;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.1);
  }

  &.inView {
    opacity: 1;
  }
}
