@import './../../../styles/breakpoints.scss';

.imageContainer {
  margin-right: auto;
  padding-left: 15px;
  margin-bottom: 10px;

  @include breakpoint(tablet) {
    margin: unset;
  }

  .image-global {
    position: relative;

    img {
      object-fit: cover;
      border-radius: 10px;
    }
  }
}
