@import './../../../styles/breakpoints.scss';
$color: rgb(70, 63, 113);

.filter {
  .row {
    display: flex;
    gap: 0;
    flex-direction: column;

    @include breakpoint(tablet) {
      flex-direction: row;
      gap: 30px;
    }
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  .instructions {
    color: rgb(233, 230, 253);
    text-shadow: -1px 0 $color, 0 1px $color, 1px 0 $color,
      0 -1px $color;
    font-weight: 600;
    letter-spacing: 0.25px;
    font-size: 13px;
    text-align: left;
    margin-bottom: 10px;
  }

  .presetContainer {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;

    @include breakpoint(tablet) {
      flex-direction: row;
    }

    &.organizeContainer {
      flex-direction: row;

      @include breakpoint(tablet) {
        flex-direction: column;
      }
    }

    .preset {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      padding: 12px 15px;
      align-items: center;
      flex-wrap: wrap;
      border-radius: 10px;
      cursor: pointer;
      gap: 30px;
      border: 2px solid transparent;
      transition: all 0.1s ease-in-out;
      background: linear-gradient(
        90deg,
        rgba(36, 30, 78, 1) 0%,
        rgba(49, 45, 76, 1) 100%
      );

      @include breakpoint(tablet) {
        padding: 15px 25px;
      }

      &:hover {
        border: 2px solid #dadada;

        h3 {
          color: #ffecec;
        }
      }

      &.active {
        border: 2px solid #ffffff;

        h3 {
          color: #ffecec;
        }
      }

      h3 {
        font-weight: 400;
        font-size: 16px;
        color: rgb(233, 230, 253);
        line-height: 1.1;
      }
    }
  }

  .organizeContainer {
    display: flex;
    flex-direction: column;
  }

  .slideContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
    justify-content: flex-start;

    @include breakpoint(tablet) {
      width: 100%;
    }

    @include breakpoint(laptop) {
      width: 65%;
    }

    .slide {
      font-size: 13px;
      color: #f1e1e0;
      cursor: pointer;
      display: flex;
      align-items: center;
      min-width: fit-content;
      transition: all 0.1s ease-in-out;
      background-color: #521613;
      padding: 3px 15px;
      border-radius: 7px;
      letter-spacing: 0.25px;
      border: 1px solid #3f3e3e;
      gap: 10px;
      text-transform: capitalize;

      &.disabled {
        color: #594b4a;
        pointer-events: none;
      }

      .name {
        font-weight: 600;
        text-transform: capitalize;
      }

      .count {
        border-radius: 50%;
        height: 15px;
        width: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 9px;
        font-weight: 700;
        line-height: 15px;
        background-color: var(--gold);
        color: var(--violet);
      }

      &:hover,
      &.selected {
        border: 1px solid #fff;
      }
    }
  }
}
