// import styled from 'styled-components'
// import { device } from '../../../styles/devices'
// import { colors } from '../../../styles/colors'

.textSection {
  color: #0e0e0e;
  padding: 20px;
  margin-bottom: 60px;
  border-radius: 10px;
  position: relative;
  background: #fff;
  box-shadow: 7px -7px 20px 1px #00d1d157,
    -7px 7px 15px #fff;
  border: 1px solid #dee2e6;
  transition: height 0.2s ease-in-out;
  // height: ${(props) =>
  //   props?.$readMore ? 'auto' : '600px'};

  // @media ${device.laptop} {
  //   padding: 10px 40px 20px 40px;
  // }

  .summary {
    font-weight: 500;
    font-size: 15px;
    font-style: italic;
    line-height: 1.4;
    color: #000;
    margin-bottom: 20px;
    color: #525252;
    padding-bottom: 20px;
    border-bottom: 1px solid lightblue;
  }

  .text {
    height: calc(100% - 100px);
    overflow: hidden;
    margin-top: 30px;

    h3,
    h2 {
      font-weight: 650;
      font-size: 1.2rem;
      border-bottom: 1px solid #ddd;
      padding-bottom: 0.25rem;
      margin-bottom: 0.5rem;
      margin-top: 2rem;

      &:first-child {
        margin-top: 0;
      }
    }
    p {
      font-size: 0.9375rem;
      line-height: 1.6;
      color: #202122;
      margin-bottom: 1rem;
    }
  }

  .footer {
    position: relative;
    margin-top: 30px;

    &::after {
      content: '';
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      width: 100%;
      height: 50px;
      z-index: 1;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 1)
      );
    }
  }
}
