@use './../../../styles/breakpoints.scss' as breakpoints;

.body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @include breakpoints.breakpoint(tablet) {
    margin-bottom: 50px;
  }

  @include breakpoints.breakpoint(laptop) {
    margin-bottom: 100px;
  }
}

.page {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  &.spaceBetween {
    justify-content: space-between;
  }
}
