@use './../../../styles/breakpoints.scss' as breakpoints;

.extraInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  height: fit-content;
  margin-bottom: 50px;

  &:empty {
    display: none;
  }

  .row {
    display: flex;
    align-items: flex-start;

    .icon {
      margin-right: 12px;
      min-width: 20px;
      width: 20px;
    }

    .data {
      color: #333;
      font-size: 15px;

      .bold {
        font-weight: 600;
      }
    }
  }
}
