@use './../../../styles/breakpoints.scss' as breakpoints;

.hero {
  width: 100vw;
  min-width: 100vw;
  border: 1px solid var(--gold);
  position: relative;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    ),
    url('/catholic_church_mountain.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 55%;
  padding: 30px 0;

  @include breakpoints.breakpoint(tablet) {
    padding: 50px 0;
  }

  .heroContent {
    width: 90%;
    max-width: 1500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
  }

  .titleBox {
    background-color: var(--violet);
    padding: 15px 30px;
    border-radius: 5px;
    width: min-content;

    @include breakpoints.breakpoint(tablet) {
      padding: 20px 40px;
    }
  }

  h1 {
    font-size: 30px;
    line-height: 1.2;
    background-image: linear-gradient(
      90deg,
      var(--gold),
      var(--gold)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include breakpoints.breakpoint(tablet) {
      font-size: 40px;
    }
  }
}
