@import '../styles/breakpoints.scss';

.about {
  display: flex;
  width: 90%;
  max-width: 1450px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;

  @include breakpoint(tablet) {
    flex-direction: row;
    margin: 0;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint(tablet) {
      width: 45%;
    }
  }

  .heading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .subheading {
    font-size: 18px;
  }

  .contactBtn {
    border: none;
    background: none;
    text-decoration: underline;
    border-radius: 5px;
    padding: 3px 7px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: var(--violet);

    &:hover {
      background-color: var(--violet);
      color: var(--gold);
    }
  }

  ul {
    list-style: square;
    padding-left: 10px;

    @include breakpoint(tablet) {
      padding-left: 20px;
    }
  }

  li {
    margin-bottom: 10px;
    color: #555;
    font-size: 16px;
    line-height: 1.4;

    .bold {
      font-weight: 700;
      color: var(--violet);
    }

    &::marker {
      color: var(--gold);
    }
  }
}
