@use './../../../styles/breakpoints.scss' as breakpoints;

.readMoreLinks {
  cursor: pointer;

  .title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
  }

  .links {
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .italics {
    font-style: italic;
  }

  svg {
    margin-left: 5px;
    font-size: 12px;
  }

  .link {
    font-size: 15px;
    color: var(--violet);
    line-height: 1.4;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
