@use './../../../styles/breakpoints.scss' as breakpoints;

.quotesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.quote {
  max-width: 100%;
  border-radius: 10px;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;

  @include breakpoints.breakpoint(tablet) {
    padding: 25px 35px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .text {
    color: #353535;
    font-size: 15px;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 40px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;

    .authorContainer {
      display: flex;
      align-items: center;
      gap: 8px;

      .profile {
        height: 50px;
        width: 50px;
        min-width: 50px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid var(--gold);
      }

      .author {
        font-size: 14px;
        color: #353535;
        line-height: 1.1;
        font-weight: 600;
      }

      .dates {
        font-weight: 400;
        font-size: 13px;
        margin-top: 2px;
      }
    }

    .topics {
      display: flex;
      align-self: flex-end;
      gap: 10px;

      .topic {
        font-size: 13px;
        font-weight: 600;
        color: var(--gold);
        min-width: fit-content;
      }
    }
  }
}
