@import '../../../styles/breakpoints.scss';

.quotesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.quote {
  max-width: 100%;
  border-radius: 10px;
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;

  @include breakpoint(tablet) {
    max-width: 47.5%;
    width: 47.5%;
  }

  @include breakpoint(laptopM) {
    max-width: 31.5%;
    width: 31.5%;
  }

  .c-text {
    color: #353535;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;

    .authorContainer {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 40px;
      margin-bottom: 0.5rem;

      .profile {
        height: 35px;
        width: 35px;
        min-width: 35px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid var(--gold);
      }

      .author {
        font-size: 0.9rem;
        color: #222;
        line-height: 1.1;
        font-weight: 400;
        font-weight: 600;
      }
    }

    .topics {
      display: flex;
      align-self: flex-end;
      gap: 10px;

      .topic {
        padding: 2px 12px;
        background-color: #ccebd9;
        font-size: 12px;
        font-weight: 500;
        border-radius: 5px;
        color: #54846d;
        font-weight: 600;
        min-width: fit-content;
      }
    }
  }
}
