@import '../../../styles/breakpoints.scss';

.btnOrganize {
  display: flex;
  justify-content: flex-start;
  padding: 6px 20px;
  border-radius: 7px;
  cursor: pointer;
  gap: 10px;
  position: relative;
  transition: all 0.1s ease-in-out;
  background-color: #521613;
  border: 1px solid #3f3e3e;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.25px;
  color: var(--gold);
  line-height: 1.1;
  text-transform: capitalize;
  color: #f1e1e0;
  width: 140px;

  &.selected {
    border: 1px solid #cacaca;
  }
}
