@use './../../../styles/breakpoints.scss' as breakpoints;

.btnOrganize {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 20px;
  border-radius: 7px;
  min-height: 35px;
  cursor: pointer;
  gap: 10px;
  position: relative;
  transition: all 0.1s ease-in-out;
  background-color: #521613;
  border: 2px solid #3f3e3e;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.25px;
  color: var(--gold);
  line-height: 1.1;
  text-transform: capitalize;
  color: #f1e1e0;
  flex: 1;

  @include breakpoints.breakpoint(tablet) {
    width: 140px;
  }

  &.selected {
    border: 2px solid #cacaca;
  }
}
