.socialMediaButtons {
  display: flex;
  gap: 10px;
  margin-left: 20px;

  a {
    width: 30px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
}
