.churchToggle {
  border-radius: 20px;
  background-color: rgb(229, 231, 235);
  height: fit-content;
  width: fit-content;
  cursor: pointer;

  .button {
    position: absolute;
    border-radius: 30px;
    z-index: 0;
    transition: all 0.15s ease-in-out;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: content-box;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 2px 3px;
    display: flex;
    position: relative;
    cursor: pointer;

    li {
      list-style: none;
      padding: 3px 15px;
      font-size: 10px;
      color: var(--darkGray);
      cursor: pointer;
      transition: all 0.15s ease-in-out;
      z-index: 1;
      display: flex;
      align-items: center;
      gap: 5px;
      border: 1px solid transparent;
      border-radius: 10px;
      line-height: 1;
      &:not(.active):hover {
        color: #000;

        svg g {
          fill: #000;
        }
      }

      svg g {
        fill: var(--lightGray);
        transition: all 0.15s ease-in-out;
      }

      &.active {
        color: #000;

        svg g {
          fill: #000;
        }
      }
    }
  }
}
