@use './../../styles/breakpoints.scss' as breakpoints;

.saintHome {
  width: 90%;
  max-width: 1500px;
  padding: 0 0 50px 0;

  @include breakpoints.breakpoint(mobileL) {
    width: 95%;
  }

  @include breakpoints.breakpoint(laptop) {
    width: 90%;
  }
}

.FilterCustomizeRow {
  display: flex;
  justify-content: center;
  width: 100%;
}
