:root {
  --gold: #ccad00;
  --red: #4c4637;
  --lightGray: #b2ab99;
  --mediumGray: #00ceb1;
  --darkGray: #00957d;
  --violet: #241e4e;

  --filterBackground: #e6e6e6;
  --headlineColor: #515151;
  --textColor: #333;
  --slideBackground1: #eab5d2;
  --slideBackground2: #faabae;
  --slideBackground3: #95d6e3;
}
