.slide {
  font-size: 13px;
  color: #f1e1e0;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: fit-content;
  transition: all 0.1s ease-in-out;
  background-color: #521613;
  padding: 6px 15px;
  min-height: 35px;
  border-radius: 7px;
  letter-spacing: 0.25px;
  border: 2px solid #3f3e3e;
  gap: 10px;

  &.disabled {
    color: #594b4a;
    pointer-events: none;
  }

  .name {
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }

  .count {
    border-radius: 4px;
    padding: 0px 5px;
    display: flex;
    justify-content: center;

    align-items: center;
    font-size: 11px;
    font-weight: 600;
    background-color: var(--gold);
    color: var(--violet);
  }

  &:hover,
  &.selected {
    border: 2px solid #cacaca;
  }
}
