.slide {
  font-size: 13px;
  color: #f1e1e0;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: fit-content;
  transition: all 0.1s ease-in-out;
  background-color: #521613;
  padding: 5px 15px;
  border-radius: 7px;
  letter-spacing: 0.25px;
  border: 1px solid #3f3e3e;
  gap: 10px;

  &.disabled {
    color: #594b4a;
    pointer-events: none;
  }

  .name {
    font-weight: 600;
    text-transform: capitalize;
  }

  .count {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    font-size: 9px;
    font-weight: 700;
    background-color: var(--gold);
    color: var(--violet);
  }

  &:hover,
  &.selected {
    border: 1px solid #fff;
  }
}
