@import './../../../styles/breakpoints.scss';

.saintDetail {
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet) {
    flex-direction: row;
  }

  .summary {
    width: 300px;
    min-width: 300px;
    z-index: 2;
    position: relative;
  }

  .teachings {
    margin-left: -10px;
    margin-top: 30px;
  }
}
